[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "build/_deps/picotool-src"]
	path = build/_deps/picotool-src
	url = https://github.com/raspberrypi/picotool.git
